.bash/secrets.bash
.zsh/secrets.zsh
.vim/_backup
.vim/_temp
.vim/.netrwhist
.config/iterm2

.zsh/local/APHCJ7JF80FEFA.zsh

# Some tools put secrets/runtime stuff into .config
.config/github_copilot
.config/exercism
.config/hub
.config/gh

.config/zed/embeddings
