.bash/secrets.bash
.zsh/secrets.zsh
.vim/_backup
.vim/_temp
.vim/.netrwhist
.config/iterm2

.zsh/local/APHCJ7JF80FEFA.zsh

# Some tools put secrets/runtime stuff into .config
.config/github_copilot
.config/exercism
.config/hub
.config/gh
.config/wireshark
.config/sql_conn.json

# Raycast is very noisy in ~/.config
.config/raycast/extensions

# Remove most of Zed's runtime files, leave config
.config/zed/embeddings
.config/zed/.tmp*
.config/zed/conversations/
.config/zed/prompts/
