[user]
	name = Ben Scheirman
	email = ben@scheirman.com

[color]
	ui = auto

[merge]
  keepBackup = false;
	tool = Kaleidoscope

[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false

[alias]
	datetag = !git tag -a `date \"+%Y%m%d%H%M\"` -m tagged
	ctags = !.git/hooks/ctags
  lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false

[diff]
	tool = Kaleidoscope

[core]
	excludesfile = /Users/ben/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[init]
	templatedir = ~/Dropbox/dotfiles/.git_template

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[mergetool]
	prompt = false

[push]
	default = tracking
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
